html {
  font-family: 'Fira Sans';
}
body {
  background-image: url('Nano\ Reactnanoreact.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.nanoLogo {
  height: 22.6px;
  margin-top: 25px;
  margin-left: 25px;
}
.loginBox {
  position: absolute;
  left: 50%;
  top: 47%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: 524px;
}
.login {
  background: #FFFFFF;
  width: 400px;
  height: 455px;
  border-radius: 8px;
  box-shadow: 0px 0px 66px 23px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.welcomeback {
  margin-top: 4px;
  width: 400px;
  height: 106;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.login .or {
  color: #BCBCBC;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-top: 25px;
}
.loginWithGoogle {
  width: 291px;
  height: 46px;
  border: 1px solid #BCBCBC;
  border-radius: 8px;
  margin-left: 54.5px;
  text-align: left;
  display: flex;
  align-items: center;
}
.loginWithGoogle img {
  height: 24px;
  padding-left: 8px;
}
.loginWithGoogle p {
  padding-left: 11px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.emailAddress {
  width: 291px;
  height: 46px;
  border: 1px solid #BCBCBC;
  border-radius: 8px;
  margin-left: 54.5px;
  margin-top: 24px;
  text-align: left;
  display: flex;
  align-items: center;
}
.emailAddress img {
  height: 18px;
  padding-left: 13px;
}
.emailAddress input {
  margin-left: 10px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  border: none;
}
.emailAddress input:focus {
  outline-width: 0;
}
.password {
  width: 291px;
  height: 46px;
  border: 1px solid #BCBCBC;
  border-radius: 8px;
  margin-left: 54.5px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 11px;
}
.password img {
  height: 18px;
  padding-left: 13px;
}
.password input {
  margin-left: 10px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  border: none;
}
.password input:focus {
  outline-width: 0;
}
.loginButton {
  width: 291px;
  height: 55px;
  border-radius: 8px;
  margin-left: 54.5px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 14px;
}
.loginButton button {
  width: 291px;
  height: 55px;
  border-radius: 8px;
  border: none;
  background: #0283FF;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.forgotPassword {
  width: 291px;
  height: 19px;
  margin-left: 54.5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 4px;
}
.forgotPassword a {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  color: #0283FF;
  text-decoration: none;
}
.signup {
  background: #FFFFFF;
  width: 400px;
  height: 55px;
  border-radius: 8px;
  margin-top: 14px;
  box-shadow: 0px 0px 66px 23px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.createaccount {
  width: 400px;
  height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createaccount p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}
.createaccount a {
  text-decoration: none;
  color: #0283FF;
  font-weight: 500;
}
